body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.card {
    width: 25em;
    margin: 5em auto;
}

.card-content {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.width-100 {
    width: 100%;
}

.form-header {
    margin-top: 7em;
    margin-bottom: 1em;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: white;}
}

.animationObj {
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}